@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Unit variables */
  --nav-height: 5rem;
  
  /* Light Theme variables */
  --light-text-color: theme(colors.neutral.950);
  --light-text-hover-color: theme(colors.neutral.900/.7);
  --light-text-color-secondary: theme(colors.neutral.500);
  --light-text-color-tertiary: theme(colors.neutral.600);
  --light-background-color: #fff;
  --light-background-color-secondary: theme(colors.neutral.100);
  --light-background-color-tertiary: theme(colors.neutral.200);
  --light-background-hover-color: theme(colors.neutral.300);
  --light-background-color-selected: theme(colors.neutral.400);
  --light-navbar-color: theme(colors.neutral.100);
  --light-border-color: theme(colors.neutral.300);
  --light-input-background: theme(colors.neutral.200);
  --light-input-focus-background: theme(colors.neutral.300);
  --light-secondary-button-color: theme(colors.neutral.300);
  --light-secondary-button-hover-color: theme(colors.neutral.400);
  --light-modal-background-color: rgba(0, 0, 0, 0.4);
  --light-accent: theme(colors.violet.600);
  --light-accent-hover: theme(colors.violet.700);
}

/* Dark Theme variables */
@media (prefers-color-scheme: dark) {
  :root {
    --dark-text-color: theme(colors.neutral.50);    
    --dark-text-color-secondary: theme(colors.neutral.500);
    --dark-text-hover-color: theme(colors.neutral.200/.5);
    --dark-background-color: theme(colors.neutral.950);
    --dark-background-color-secondary: theme(colors.neutral.900);
    --dark-background-color-tertiary: theme(colors.neutral.800);
    --dark-background-hover-color: theme(colors.neutral.800/.7);
    --dark-background-color-selected: theme(colors.neutral.600);
    --dark-navbar-color: theme(colors.neutral.900);
    --dark-modal-background-color: rgba(60, 60, 60, 0.3);
    --dark-accent: theme(colors.lime.300);
    --dark-accent-hover: theme(colors.lime.500);
    --dark-border-color: theme(colors.neutral.700);
    --dark-input-background: theme(colors.neutral.800);
    --dark-input-focus-background: theme(colors.neutral.950);
    --dark-secondary-button-color: theme(colors.neutral.600);
    --dark-secondary-button-hover-color: theme(colors.neutral.700);
  }
}

html {
  color: var(--light-text-color);
  background: var(--light-background-color);
  overflow-x: hidden;
}

html.dark {
  color: var(--dark-text-color);
  background: var(--dark-background-color);
}

@layer base {
  h1 {
    @apply text-5xl font-extrabold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply text-xl font-medium;
  }

  h6 {
    @apply text-lg font-light;
  }
}