@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #121212;
  --text-color: #fff;
  --modal-background-color: rgba(0, 0, 0, 0.4);
  --nav-height: 5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

@layer base {
  h1 {
    @apply text-5xl font-extrabold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply text-xl font-medium;
  }

  h6 {
    @apply text-lg font-light;
  }
}